<!DOCTYPE html>
<html>
<head>
	<title>2018 general election voter guide | Houston Chronicle</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Thce above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!-- Social meta tags -->
	<meta name="description" content="Need help vetting candidates before the November elections? Explore our voter guide.">
	<meta name="keywords" content="Texas politics, Houston, Congress, elections, 2018 elections, midterms, midterm elections, 2018 midterms, Houston politics, voters guide, voting, voters, Houston voters, Democrats, Republicans, Libertarians, Texas legislature, Beto, Beto O'Rourke, Ted Cruz, Cruz, Abbott, Texas governor, U.S. Senate, Texas senator, Texas senate race">
	<meta name="author" content="Houston Chronicle">
	<meta property="og:type" content="The Houston Chronicle Voters Guide | HoustonChronicle.com">
	<meta property="og:title" content="The Houston Chronicle Voters Guide">
	<meta property="og:site_name" content="Houston Chronicle">
	<meta property="og:url" content="https://projects.houstonchronicle.com/2018/elections/voters-guide/">
	<meta property="og:image" content="https://s.hdnux.com/photos/76/01/64/16260415/4/rawImage.png">
	<meta property="og:description" content="We invited candidates in Houston’s midterm elections to answer questions on key issues facing the state. The candidates’ unedited responses are presented as submitted to the Houston Chronicle. Some candidates did not respond to our questionnaire.">
	<!-- Twitter card meta info -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Need help vetting candidates before the November elections? Explore our voter guide.">
	<meta name="twitter:site" content="@HoustonChron">
	<meta name="twitter:creator" content="@HoustonChron" />
	<meta name="twitter:url" content="https://projects.houstonchronicle.com/2018/elections/voters-guide/">
	<meta name="twitter:image" content="https://s.hdnux.com/photos/76/01/64/16260415/4/rawImage.png">
	<meta name="twitter:description" content="We invited candidates in Houston’s midterm elections to answer questions on key issues facing the state. The candidates’ unedited responses are presented as submitted to the Houston Chronicle. Some candidates did not respond to our questionnaire.">
	<!-- Font Aerdomr icons-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!--load font awesome-->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--AngularJS-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<!--Custom styles-->
	<link rel='stylesheet' href="css/styles.css">
	<link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
	<!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body ng-app="myApp">
	<!--Share modal-->
	<div class="modal fade share-modal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header"> <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
					<h4 class="modal-title" id="myLargeModalLabel">SHARE</h4>
				</div>
				<div class="modal-body">
					<p><a href="http://www.facebook.com/dialog/feed?app_id=653292111352579&amp;link=https%3A%2F%2Fprojects.houstonchronicle.com%2F2018%2Felections%2Fvoters-guide%2F%3Futm_campaign%3Dfacebook-premium%26utm_source%3DCMS%2520Sharing%2520Button%26utm_medium%3Dsocial&amp;description=With%20a%20record%20number%20of%20contested%20Congressional%20races%20this%20year%2C%20Texas%20is%20at%20the%20center%20of%20the%20battle%20between%20Democrats%20and%20Republicans%20for%20control%20of%20the%20U.S.%20House%20and%20Senate.%0AStudy%20the%20issues%2C%20hear%20from%20the%20candidates%2C%20and%20research%20what%E2%80%99s%20on%20your%20ballot%20at%20the%20Houston%20Chronicle%20voters%20guide.&amp;picture=https%3A%2F%2Fs.hdnux.com%2Fphotos%2F75%2F22%2F02%2F16064685%2F4%2FrawImage.jpg&amp;name=Get%20informed%3A%202018%20Elections" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></p>
					<p><a class="twitter" href="https://twitter.com/intent/tweet?text=Get informed: 2018 Elections - Study the issues, hear from the candidates, and research what’s on your ballot at the Houston Chronicle voters guide https://projects.houstonchronicle.com/2018/elections/voters-guide/?utm_campaign=twitter-premium&utm_source=CMS%20Sharing%20Button&utm_medium=social" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></p>
					<p><a href="mailto:?subject=Get informed: 2018 Elections&body=Study the issues, hear from the candidates, and research what’s on your ballot at the Houston Chronicle voters guide https://projects.houstonchronicle.com/2018/elections/voters-guide/?utm_campaign=email-premium&utm_source=CMS%20Sharing%20Button&utm_medium=social"><i class="fa fa-envelope"></i>Email</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- Navbar -->
	<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="https://www.houstonchronicle.com/"><img src="https://s.hdnux.com/photos/46/76/02/10215602/4/rawImage.png" class="img-responsive"/></a>
	</div>
	<div id="navbar" class="collapse navbar-collapse auto">
	<ul class="nav navbar-nav">
		<li><a href="https://www.houstonchronicle.com/politics/election/election2018/voter-guide/">Election HQ</a></li>
		<li><a href="">Voter guide</a></li>
		<li><a href="https://www.houstonchronicle.com/politics/election/election2018/ballot/">Ballot</a></li>
		<li><a href="https://www.houstonchronicle.com/opinion/endorsements/">Endorsements</a></li>
        <li><a href="https://www.houstonchronicle.com/politics/">Texas Politics</a></li>
		<li><a href="https://www.houstonchronicle.com/local/politics-policy/">Houston Politics</a></li>
		<li><a href="https://www.houstonchronicle.com/politics/texas-take/texas-take-podcast/">Texas Take Podcast</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#" data-toggle="modal" data-target=".share-modal">Share <i class="fa fa-share"></i></a></li>
	</ul>
	</div><!--/.nav-collapse -->
	</div>
	</nav>
	<!--Intro text-->
	<div ng-controller="MyCtrl">
		<div ng-hide="locations" id="main">
			<img class="banner img-responsive" src="images/banner.jpg" />
			<div class="container">
				<div class="col-md-10 col-md-offset-1">
					<div class="intro">
						<h1>The Houston Chronicle Voter Guide</h1>
						<p class="byline">By <a href="https://www.houstonchronicle.com/author/alejandra-matos/" target="_blank">Alejandra Matos</a>, <a href="https://www.houstonchronicle.com/author/jordan-rubio/" target="_blank">Jordan Rubio</a> and <a href="https://www.houstonchronicle.com/author/rachael-gleason/" target="_blank">Rachael Gleason</a></p>
					</div>
					<div class="prologue col-md-10 col-md-offset-1"><a name="search"></a>
						<p>We invited candidates running for statewide and federal offices in the 2018 midterm elections to answer questions about key issues facing Texas. The candidates’ unedited responses are presented as submitted to the Houston Chronicle. Some candidates did not respond to our questionnaire.</p>
						<p>An asterisk (*) next to a candidate's name indicates the candidate was endorsed by the <a href="https://www.houstonchronicle.com/opinion/endorsements/" target="_blank">Houston Chronicle Editorial Board</a>, which is independent from the Houston Chronicle newsroom.</p>
					    <p ng-model="allRaces" id="invitation">Search by race or search by candidate below. To see all the races, <a ng-click="showAll()">click here</a></p>
					</div>
				</div>
					<!--Search bars-->
					<div id="guide">
						<div class="container">
							<div class="col-md-10 col-md-offset-1">
								<!--Race select filter-->
								<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
									<div class="searches">Search by race</div>
									<select ng-model="racePicked" ng-options="race.office for race in races" ng-change="setRace()">
										<option value></option>
									</select>
								</div><!--End race select filter-->
								<!--Candidate search bar-->
								<div class="col-md-5 col-sm-5">
									<div class="searches">Search by candidate</div>
									<form class="form-inline">
										<input class="input-special" ng-model="pickCandidate.name" type="text">
									</form>
									<ul class="form ng-hide" ng-show="!pickCandidate.name == ''" ng-click="selectCandidate()">
								        <li ng-click="selectCandidates(candidate.name)" class="result" ng-repeat="candidate in candidates | filter: pickCandidate | limitTo:5">
								        	<a>{{candidate.name}}</a>
								        </li>
							        </ul>
								</div><!--End candidate search bar-->
							</div>
						</div>
					</div><!--End search bars-->
				</div>
			</div>
			<!--Race select results-->
			<div class="results ng-hide" ng-show="racePicked || raceChosen">
				<div ng-repeat="race in races | filter:racePicked | filter:filterByRace:true">
					<div class="container">
						<div class="racecandidates col-md-10 col-md-offset-1">
		              		<h2 class="name">{{race.office}}</h2>
		              		<p><em>Click on a candidate's name to see how they responded to the survey.</em></p>
							<span ng-repeat="candidate in candidates | filter: race.office:true | orderBy: 'party'">
								<div class="col-md-4">
			              			<label class="politician">{{candidate.name}} {{candidate.party}} <span ng-show="(candidate.endorsed)">*</span>
									  <input type="radio" name="politico" ng-model="$parent.politico" ng-change="selectRaceCandidate(candidate.name)" ng-value="candidate.name">
									  <span style="background-color:{{candidate.partyColor}}" class="checkmark"></span>
									</label>
			              		</div>
		              		</span>
		              	</div>
              			<div class="moredetails ng-hide" ng-show="politico">
              				<div ng-repeat="candidate in candidates | filter: race.office:true | filter: filterByRaceCandidate:true | orderBy: 'party'">
	              				<div class="candidate col-md-10 col-md-offset-1">
	              					<div class="col-md-4">
		              					<img class="img-responsive" src="{{candidate.image}}">
		              				</div>
		              				<div class="col-md-8">
		              					<h2 class="name">{{candidate.name}} <span style="color:{{candidate.partyColor}}">{{candidate.party}}</span> <span ng-hide="!(candidate.incumbent)" class="incumbent">{{candidate.incumbent}}</span></h2>
		              					<p ng-hide="!(candidate.incumbent)" class="mobileincumbent">{{candidate.incumbent}}</p>
		              				</div>
		              				<div class="col-md-4">
		              					<p><span class="question">Office sought:</span> {{candidate.office}}</p>
										<p ng-hide="!(candidate.age)"><span class="question">Age:</span> {{candidate.age}}</p>
										<p ng-hide="!(candidate.birthplace)"><span class="question">Born:</span> {{candidate.birthplace}}</p>
					              		<p ng-hide="!(candidate.hometown)"><span class="question">Hometown:</span> {{candidate.hometown}}</p>
					              		<p ng-hide="!(candidate.job)"><span class="question">Current job:</span> {{candidate.job}}</p>
					              		<p ng-hide="!(candidate.education)"><span class="question">Highest education:</span> {{candidate.education}}</p>
									</div>
									<div class="col-md-4">
					              		<p ng-hide="!(candidate.college)"><span class="question">College:</span> {{candidate.college}}</p>
					              		<p ng-hide="!(candidate.married)"><span class="question">Marital status: </span> {{candidate.married}}</p>
					              		<p ng-hide="!(candidate.kids)"><span class="question">Children:</span> {{candidate.kids}}</p>
					              		<p ng-hide="!(candidate.military)"><span  class="question">Military service:</span> {{candidate.military}}. {{candidate.milBranch}}</p>
					              		<p ng-hide="!(candidate.prevServed)"><span  class="question">Previous served</span> {{candidate.prevServed}}. {{candidate.prevOffice}}</p>
				              		</div>
				              		<div class="col-md-8" ng-show="!(candidate.hometown) && !(candidate.unopposed)">
					              		<h3 class="noresponse">The candidate did not respond to the Houston Chronicle survey.</h3>
					              	</div>
					              	<div class="col-md-8" ng-hide="!(candidate.unopposed)">
					              		<h3 class="noresponse">This candidate is running unopposed.</h3>
					              	</div>
					              	<div class="col-md-8" ng-show="(candidate.endorsed)">
					              		<h3 class="noresponse">* This candidate was endorsed by the Houston Chronicle Editorial Board.</h3>
					              	</div>
			              		</div>
								<div class="moreanswers">
				              		<div ng-hide="!(candidate.difference)" class="col-md-8 col-md-offset-2">
										<p class="question">What sets you apart from your opponents?</p>
					              		<p>{{candidate.difference}}</p>
					              		<p class="question">Why are you running for office?</p>
					              		<p>{{candidate.reason}}</p>
					              		<p class="question">What are your top three priorities for Texas?</p>
					              		<p>1. {{candidate.priority1}}</p>
					              		<p>2. {{candidate.priority2}}</p>
					              		<p>3. {{candidate.priority3}}</p>
					              	</div>
					              	<div class="col-md-10 col-md-offset-1">
					              		<div ng-hide="!(candidate.contact)" class="candidatecontact">
						              		<p><strong>Contact</strong></p>
						              		<p>{{candidate.contact}}</p>
						              	</div>
						              	 <p class="return"><i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i><a href="#search"> Return to searches</a></p>
					              	</div>
								</div>
							</div>
						</div>
             		</div>
				</div>
			</div><!--End race select results-->
			<!--All races results-->
			<div class="results ng-hide" ng-show="allRaces">
				<div class="container">
					<div class="col-md-10 col-md-offset-1">
						<p>Click on an individual race to see the candidates running for that office.</p>
						<div ng-repeat="level in levels">
							<h3 class="levels">{{level.level}} races</h3>
							<div ng-repeat="race in races | filter: {level: level.level}">
		              			<p class="racechoice" ng-click="selectRace(race.office)">{{race.office}}</p>
			              	</div>
             			</div>
					</div>
				</div>
			</div><!--End all races results-->
			<!--Candidate results-->
			<div ng-model="candidateResults" class="results ng-hide" ng-show="candidateSelected">
				<div ng-repeat="candidate in candidates | filter: filterByCandidate:true">
					<div class="container">
						<div class="candidate col-md-10 col-md-offset-1">
			              	<div class="col-md-4">
              					<img class="img-responsive" src="{{candidate.image}}">
              				</div>
              				<div class="col-md-8">
              					<h2 class="name">{{candidate.name}} <span style="color:{{candidate.partyColor}}">{{candidate.party}}</span> <span ng-hide="!(candidate.incumbent)" class="incumbent">{{candidate.incumbent}}</span></h2>
              					<p ng-hide="!(candidate.incumbent)" class="mobileincumbent">{{candidate.incumbent}}</p>
              				</div>
              				<div class="col-md-4">
	          					<p><span class="question">Office sought:</span> {{candidate.office}}</p>
								<p ng-hide="!(candidate.age)"><span class="question">Age:</span> {{candidate.age}}</p>
								<p ng-hide="!(candidate.birthplace)"><span class="question">Born:</span> {{candidate.birthplace}}</p>
			              		<p ng-hide="!(candidate.hometown)"><span class="question">Hometown:</span> {{candidate.hometown}}</p>
			              		<p ng-hide="!(candidate.job)"><span class="question">Current job:</span> {{candidate.job}}</p>
			              		<p ng-hide="!(candidate.education)"><span class="question">Highest education:</span> {{candidate.education}}</p>
							</div>
							<div class="col-md-4">
			              		<p ng-hide="!(candidate.college)"><span class="question">College:</span> {{candidate.college}}</p>
			              		<p ng-hide="!(candidate.married)"><span class="question">Marital status: </span> {{candidate.married}}</p>
			              		<p ng-hide="!(candidate.kids)"><span class="question">Children:</span> {{candidate.kids}}</p>
			              		<p ng-hide="!(candidate.military)"><span  class="question">Military service:</span> {{candidate.military}}. {{candidate.milBranch}}</p>
			              		<p ng-hide="!(candidate.prevServed)"><span  class="question">Previous served</span> {{candidate.prevServed}}. {{candidate.prevOffice}}</p>
		              		</div>
		              		<div class="col-md-8" ng-show="!(candidate.hometown) && !(candidate.unopposed)">
			              		<h3 class="noresponse">The candidate did not respond to the Houston Chronicle survey.</h3>
			              	</div>
			              	<div class="col-md-8" ng-hide="!(candidate.unopposed)">
			              		<h3 class="noresponse">This candidate is running unopposed.</h3>
			              	</div>
			              	<div class="col-md-8" ng-show="(candidate.endorsed)">
			              		<h3 class="noresponse">* This candidate was endorsed by the Houston Chronicle Editorial Board.</h3>
			              	</div>
		              	</div>
		              	<div class="moreanswers">
		              		<div ng-hide="!(candidate.difference)" class="col-md-8 col-md-offset-2">
								<p class="question">What sets you apart from your opponents?</p>
			              		<p>{{candidate.difference}}</p>
			              		<p class="question">Why are you running for office?</p>
			              		<p>{{candidate.reason}}</p>
			              		<p class="question">What are your top three priorities for Texas?</p>
			              		<p>1. {{candidate.priority1}}</p>
			              		<p>2. {{candidate.priority2}}</p>
			              		<p>3. {{candidate.priority3}}</p>
			              	</div>
			              	<div class="col-md-10 col-md-offset-1">
			              		<div ng-hide="!(candidate.contact)" class="candidatecontact">
				              		<p><strong>Contact</strong></p>
				              		<p>{{candidate.contact}}</p>
				              	</div>
				              <p class="return"><i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i><a href="#search"> Return to searches</a></p>
			              	</div>
						</div>
					</div>
				</div>
			</div><!--End candidate results-->
			<!--Related coverage-->
			<div ng-hide="end">
				<div class="relcov container">
					<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
						<div class="col-md-12">
							<h3>Related coverage:</h3>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="https://www.houstonchronicle.com/politics/election/election2018/" target="_blank"><img class="img-responsive" src="https://s.hdnux.com/photos/76/01/63/16260310/3/rawImage.jpg" />
							<p><strong>Election HQ:</strong> Here’s the latest news from our politics team.</p></a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="https://www.houstonchronicle.com/newsletters/texas-take/" target="_blank"><img class="img-responsive" src="https://d3n32ilufxuvd1.cloudfront.net/5745cec7a69dc8697e3edf52/1167688/upload-81300a21-bd2c-11e8-92f5-15fcc90ae461.jpg" />
							<p><strong>Sign up:</strong> All things Texas politics, plus Beto-Cruz Friday updates</p></a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="https://www.houstonchronicle.com/politics/texas-take/texas-take-podcast/" target="_blank"><img class="img-responsive" src="https://s.hdnux.com/photos/76/01/64/16260395/4/rawImage.png" />
							<p><strong>Texas Take:</strong> Go beyond the headlines with Texas’ best political podcast.</p></a>
						</div>
						<div class="col-md-3 col-sm-6">
							<a href="https://www.houstonchronicle.com/opinion/endorsements/" target="_blank"><img class="img-responsive" src="https://d3n32ilufxuvd1.cloudfront.net/5745cec7a69dc8697e3edf52/1167688/upload-f9e815e0-bd20-11e8-904b-c9248b8f8fd9.jpg" />
							<p><strong>Endorsements:</strong> See who our editorial board recommends for office</p></a>
						</div>
					</div>
				</div><!--End related coverage-->
				<!--Contact reporter-->
				<div class="contact container">
					<div class="col-md-8 col-md-offset-2">
						<h4>Questions? Comments?</h4>
						<p>Contact politics reporter Alejandra Matos at <a href="mailto:alejandra.matos@chron.com">Alejandra.Matos@chron.com</a>.</p>
						<img class="img-responsive" src="images/lightlogo.png" />
					</div>
				</div><!--End contact-->
			</div>
		</div>
	</div><!--End app-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script src="js/guide.js"></script>
	</body>
</html>